/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Jersey+15&family=Share+Tech+Mono&family=Varela+Round&display=swap');
.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ANIMATIONS */
@keyframes button-hover {
    0% {
        border: 2px solid white;
        color: white;
    }
    25% {
        border: 2px solid rgb(246, 255, 197);
        color: rgb(246, 255, 197);
    }
    50% {
        border: 2px solid rgb(230, 254, 94);
        color: rgb(230, 254, 94);
        transform: scale(1.1);
    }
    75%{
        border: 2px solid rgb(246, 255, 197);
        color: rgb(246, 255, 197);
    }
    100%{
        border: 2px solid white;
        color: white;
    }
}


/*html body and all*/
*{
    margin:0;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */
    user-select: none; 
}

html {
    background-color: black;
}

/* header styling */
header{
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5vmax;
    margin-bottom: 3vmax;
    width: 100%;
    text-align: center;
}

header:hover{
    cursor: default;
}

header h1{
    font-size: 400%;
    color: white;
}

header p{
    display: inline-block;
    margin-top: 1vh;
    color: white;
    transition: transform 0.3s ease-in-out;
}

header p:hover{
    transform: scale(1.2);
}

#header-div h1{
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

#header-div h1:hover{
    transform: scale(1.4);
    margin-left: 0.6vw;
    margin-right: 0.6vw;
}

/* bottom of page */
#bottom-page{
    margin-top: 15vh;
}

/* buttons styling */
#button-storage{
    text-align: center;
}

#button-storage div{
    display: inline-block;
}

.button-select{
    border: 2px solid white;
    width: 10vw;
    color: white;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    transition: all 0.3s ease-in-out;
}

.button-select:hover{
    cursor: pointer;
    animation: button-hover 2s ease-in-out infinite;
}

/* graphics and such :( */



